/* boards/nrf7002dk_nrf5340_cpuapp.overlay */


&spi4 { status = "okay"; };      /* SPI bus for the flash */
&mx25r64 { status = "okay"; };   /* The MX25R6435F on SPI4 */

/ {
    aliases { spi-flash0 = &mx25r64; };
    chosen  { nordic,pm-ext-flash = &mx25r64; };  // PM’s external_flash maps here
 };

